.main{
    position: relative;
    display: flex;
    width: 1440px;
    height: 1020px;
    background-color: #F3F5FC;
}
    .section1{
        position: relative;
        display: block;
    }
        .titulo{
            position: relative;
            font-size: 6rem;
            margin: 0 80px 0;
            color: #0A3871;
        }
        .txtin{
            position: relative;
            margin: 50px 200px 0;
            width: 700px;
            height: 550px;
            resize: none;
            border: none;
            outline: none;
            font-size: 1.7rem;
            color: #0A3871;
            background-color: #F3F5FC;
        }
        .txtin::placeholder{
            color: #0A3871;
        }
        .info{
            position: relative;
            font-size: 1.2rem;
            top: 50px;
            left: 200px;
        }
        .btn{
            position: relative;
            width: 250px;
            height: 70px;
            font-size: 1.2rem;
            border-radius: 18px;
            transition: 300ms;
            background-color: #D8DFE8;
        }
        .btn:hover{
            background-color: #0A3871;
            color: white;
            font-size: 1.6rem;
        }
            .encri{
                position: relative;
                top: 100px;
                left: 300px;
            }
            .dencri{
                position: relative;
                top: 100px;
                left: 400px;
            }
    .section2{
        position: absolute;
        display: block;
        width: 400px;
        height: 944px;
        top: 40px;
        left: 1000px;
        border-radius: 32px;
        background-color: white;
    }
        .cuerpo10{
            display: block;
            position: relative;
            text-align: center;
        }
            .iMuñeco{
                position:relative;
                top: 200px;
            }
            .tMuñeco{
                position: relative;
                top: 250px;
                font-size: 2rem;
                font-weight: bolder;
            }
            .pMuñeco{
                position: relative;
                top: 300px;
                font-size: 1.5rem;
            }
        .cuerpo20{
            position: relative;
            display: none;
            text-align: center;
        }
            .txtout{
                top: 70px;
                margin: 0 auto;
                display: block;
                position: relative;
                width: 350px;
                height: 600px;
                resize: none;
                border: none;
                outline: none;
                font-size: 1.7rem ;
                color: #0A3871;
                background-color: white;
            }
            .copiar{
                position: relative;
                top: 180px;
            }